DISCORD_TOKEN=your_bot_token_here
CLIENT_ID=your_client_id_here
GUILD_ID=your_guild_id_here
QUESTIONS_README_PATH=../questions-repo/README.md
QUESTIONS_IMAGES_BASE_URL=https://raw.githubusercontent.com/Ditectrev/AWS-Certified-CloudOps-Engineer-Associate-SOA-C03-Practice-Tests-Exams-Questions-Answers/main/images
